/*≥ı ºªØ*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,th,td{
	margin: 0;
	padding: 0;
	color: #0F0F0F;
}

h1{
	margin: 32px 0px 32px 0px;
}

h2 {
	margin: 10px 0px 10px 0px;
}

h3 {
	text-indent: 2em;
}

p {
	text-indent: 2em;
	margin: 6px 0px 10px 0px;
}

.mainimage {
	margin: 0px 0px 0px 2em;
}

table {
	margin-left: 2em;
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	border: 1px solid black;
	padding: 2px 10px;
	text-align: center;
}

.main1 {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	background: #FFB8E8;	
}
.main2 {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	background: #BCBCBC;
}
